# 新しいセクション

In [1]:
num = 50

# 変数numが10より大きいなら、文字列を出力する
if 10 < num:
    print("変数numは10より大きいです")

# 変数numが20より小さいなら、文字列を出力する
if num < 20:
    print("変数numは20より小さいです")

変数numは10より大きいです

In [5]:
print(45 + 18) # 算術演算子を使った場合の戻り値を出力する
print(45 > 18) # 比較演算子を使った場合の戻り値を出力する


print("5" == 5)


num1 = 5
num2 = "5"

if num1 == int(num2):
    print("num1とnum2は等しいです")

63
True
False
num1とnum2は等しいです

In [39]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4であれば、「大当たりです」という文字列を出力する
if num == 4:
    print("大当たりです")



    #ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
    print("大当たりです")
else:
    print("はずれです")



    #ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、3なら「当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
    print("大当たりです")
elif num == 3:
    print("当たりです")
else:
    print("はずれです")

3
1
はずれです
3
当たりです

In [52]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# すべての条件が成り立つ場合にのみ処理を行う（変数numの値が2）
if 1 < num and num < 3:
    print("変数numは1より大きく、3より小さいです")
else:
    print("and条件が成り立ちませんでした")

# 1つでも条件が成り立てば処理を行う（変数numの値が1または3）
if num == 1 or num == 3:
    print("変数numは1または3です")
else:
    print("or条件が成り立ちませんでした")

2
変数numは1より大きく、3より小さいです
or条件が成り立ちませんでした

# 新しいセクション

In [55]:

var = 15


if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
elif var % 3 == 0:
    print("Fizz")
elif var % 5 == 0:
    print("Buzz")
else:
    print(var)

FizzBuzz

# 新しいセクション

In [ ]:
# リスト（array）の作成
array = [
    "月曜日は晴れです",
    "火曜日は雨です",
    "水曜日は晴れです",
    "木曜日は晴れです",
    "金曜日は曇りです",
    "土曜日は曇りのち雨です",
    "日曜日は雷雨です"
]

# ディクショナリ（dictionary）の作成
dictionary = {
    "mon": "晴れ",
    "tue": "雨",
    "wed": "晴れ",
    "thu": "晴れ",
    "fri": "曇り",
    "sat": "曇りのち雨",
    "sun": "雷雨"
}

# 水曜日の天気予報を取り出して出力
print(array[2])           # リストから
print("水曜日は" + dictionary["wed"] + "です")  # ディクショナリから

水曜日は晴れです
水曜日は晴れです

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 6番目の要素を追加する
user_names.append("侍五郎")
print(user_names)

# 3番目の要素を削除する
user_names.pop(2) # 0始まりのため、3番目のインデックスは2
print(user_names)

['侍太郎', '侍一郎', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍一郎', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1]) # 2番目の要素だけを表示

user_names[1] = "侍花子" # 2番目の要素を更新
print(user_names)

user_names.append("侍五郎") # 6番目の要素を追加
print(user_names)

user_names.pop(2) # 3番目の要素を削除（0始まりのため2を指定）
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_names = ("日本", "アメリカ", "イギリス", "フランス" )

# 3番目の要素である「イギリス」という文字列だけを取り出す
print(country_names[2])


country_names = ("日本", "アメリカ", "イギリス", "フランス" )

# 3番目の要素を取り出す
print(country_names[2])

# すべての要素を取り出す
print(country_names)


country_names = {"アメリカ", "イギリス", "日本", "フランス"}

# セット全体を表示
print(country_names)

# 1～10までに含まれる素数のセット（2と5が重複）
prime_numbers = {2, 5, 2, 7, 3, 5, 5 }

# セット全体を表示
print(prime_numbers)


# 1～10までに含まれる素数のセット
prime_numbers = {2, 3, 5, 7}

# セット全体を表示
print(prime_numbers)

# セットの3番目の要素を表示 ⇒ できないためエラー
print(prime_numbers[2])



# 1～10までに含まれる素数のセット
prime_numbers = {2, 3, 5, 7}

# セット全体を表示
print(prime_numbers)

prime_numbers.add(11) # 11をセットに追加
print(prime_numbers)

prime_numbers.remove(3) # セットから3を削除
print(prime_numbers)

イギリス
イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')
{'フランス', '日本', 'イギリス', 'アメリカ'}
{2, 3, 5, 7}
{2, 3, 5, 7}

TypeError: 'set' object is not subscriptable

In [ ]:
# 1～10までに含まれる素数のセット
prime_numbers = {2, 3, 5, 7}

# セット全体を表示
print(prime_numbers)

prime_numbers.add(11) # 11をセットに追加
print(prime_numbers)

prime_numbers.remove(3) # セットから3を削除
print(prime_numbers)

{2, 3, 5, 7}
{2, 3, 5, 7, 11}
{2, 5, 7, 11}

In [ ]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}

# セット全体を表示
print(country_names)

country_names.add("ドイツ") # 「ドイツ」をセットに追加
print(country_names)

country_names.remove("イギリス") # セットから「イギリス」を削除
print(country_names)

{'フランス', '日本', 'イギリス', 'アメリカ'}
{'アメリカ', 'フランス', 'イギリス', '日本', 'ドイツ'}
{'アメリカ', 'フランス', '日本', 'ドイツ'}

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 2番目の要素を更新する
user_names[1] = "侍花子"

# 2番目の要素を表示する
print(user_names[1])

侍花子

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

# ボールペンの価格を取り出して表示
print(stationery_prices["ボールペン"])

120

In [ ]:
sports = {1: "サッカー", 2: "野球", 3: "バスケット"}

# キー「2」の値を「バドミントン」に書き換える
sports[2] = "バドミントン"

# キー「4」として「水泳」を追加する
sports[4] = "水泳"

# 連想配列全体を取り出して表示
print(sports)

{1: 'サッカー', 2: 'バドミントン', 3: 'バスケット', 4: '水泳'}

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

# 「シャープペンシル」を要素ごと削除
stationery_prices.pop("シャープペンシル")

# 連想配列全体を取り出して表示
print(stationery_prices)

{'鉛筆': 70, 'ボールペン': 120, '消しゴム': 90}

In [ ]:
# 連想配列を作成
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# キー「name」の値を表示
print(personal_data["name"])

# 連想配列全体を表示
print(personal_data)

# キー「age」の値を更新
personal_data["age"] = 37

# 新しく要素（キーと値）を追加
personal_data["address"] = "東京都"

# 連想配列全体を表示
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}